{% extends "base.html" %}
{% block content %}

<form action="/labels" method="post">
    <label for="label">New Label:</label>
    <input type="text" id="label" name="label_id">
    
      <button type='submit'>Add</button>
</form>

<table class="table-header">
  <thead>
      <th>Labels</th>
  </thead>
  <tbody>
    {% for label in labels %} 
    <tr class=labels-table>
      <td>{{ label.name }}</td>
    <form action="/labels/{{label.id}}" method="get">
      <td><button type='submit'>Edit</button></td>
    </form>
    <form class="delete-form" action="/labels/{{label.id}}/delete" method="post">
      <td><button style="font-size:13.3px">Delete <i class="fa fa-trash-o"></i></button></td>
    </form>
    </tr>
    {% endfor %}
  </tbody>
</table>

{% endblock %}