{% extends "base.html" %}

{% block content %}
<form action="/merchants" method="post">
    <label for="new-merchant">New Merchant:</label>
    <input type="text" id="name" name="merchant_id">
    
      <button type='submit'>Add</button>
</form>

<table class="table-header">
  <thead>
      <th>Merchants</th>
  </thead>
  <tbody>
    {% for merchant in merchants %}
    <tr class=merchants-table>
      <td>{{ merchant.name }}</td>
    <form action="/merchants/{{merchant.id}}" method="get">
      <td><button type='submit'>Edit</button></td>
    </form>
    <form class="delete-form" action="/merchants/{{merchant.id}}/delete" method="post">
      <td><button style="font-size:13.3px">Delete<i class="fa fa-trash"></i></button></td>
    </form>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}