{% extends "base.html" %}

{% block content %}


<a class="new-transaction" href="/transactions/new">New transaction</a>


    <table class="table-header">
        <thead>
            <th>Label</th>
            <th>Merchant</th>
            <th>Amount </th>
        </thead>
        <tbody>
          {% for transaction in transactions %} 
          <tr class=transactions-table>
            <td>{{ transaction.label.name }}<hr></td>
            <td>{{ transaction.merchant.name }}<hr></td>
            <td>£ {{ transaction.amount }}<hr></td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
      <p class="total">Total: £ {{ total }}</p>



{% endblock %}