{% extends "base.html" %}

{% block content %}



<a class="new-transaction" href="/transactions/new" >New transaction</a>

    <table class="table-header">
        <thead>
            <th>Label</th>
            <th>Merchant</th>
            <th>Amount</th>
        </thead>
        <tbody>
          {% for transaction in transactions %} 
          <tr class=transactions-table>
            <td>{{ transaction.label.name }}</td>
            <td>{{ transaction.merchant.name }}</td>
            <td>£ {{ transaction.amount }}</td>
          </tr>
          {% endfor %}
        </tbody>
        <tfoot>
          <tr>
            <td colspan="4">
              <h3 id="total">Total £{{ total }} </h3>
            </td>
          </tr>
        </tfoot>
      </table>
      



{% endblock %}