{% extends 'base.html' %}

{% block content %}
<section>
    <h3>Merchant</h3>
    <div>
        <label for="merchant">Merchant:</label>
        <select name="merchant_id" id="merchant">
            {% for merchant in merchants %}
              <option value="{{ merchant.id }}">{{ merchant.name }}</option>
              {% endfor %}
        </select>
    </div>
    <h3>Label</h3>
    <div>
        <label for="label">Label:</label>
        <select name="label_name" id="label">
            {% for label in labels %}
              <option value="{{ label.id }}">{{ label.name }}</option>
            {% endfor %}
        </select>
    </div>
</section>
<section>
    <h3>Amount</h3>
        <label for="amount">
        <input type="number" id="amount">

</section>
<section>
    <div>
      <button type="add">Add</button>
    </div>
</section>
{% endblock %}

